@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Quicksand:wght@400;500;600;700&display=swap');

@import "empareja.css";
@import "encuentra.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
    :root {

        --color-blanco: 255 255 255;
        --color-ocre-claro: 246 235 219;
        --color-gris-claro: 250 250 250;
        --color-gris-oscuro: 225 228 231;
        --color-azul-claro: 145 182 215;
        --color-azul-oscuro: 36 110 176;
        --color-magenta-oscuro: 178 36 112;
        --color-verde-oscuro: 32 142 29;
        --color-negro: 22 22 21;
    }
}

/*
Estilos de texto
*/
@layer base {
    html {
        @apply text-negro font-sans font-medium;
    }

    body {
        @apply text-negro font-sans font-medium bg-gris-claro;

        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    .h1 {
        @apply text-4xl font-bold leading-tight;
    }

    .h2 {
        @apply font-sans text-xl font-bold leading-tight;
    }

    .h3 {
        @apply font-sans text-lg font-medium leading-tight;        
    }

    .boton {
        @apply text-azul-oscuro text-base font-semibold rounded-lg py-2 px-10 bg-blanco border-2 border-azul-oscuro h-fit;

        &:hover {
            @apply bg-blanco/[0.6] scale-105;
        }
    }

    .p {
        @apply text-base font-normal pl-3 py-1;
    }

    /* Apariencia scrollbar */
    body::-webkit-scrollbar, main::-webkit-scrollbar, div::-webkit-scrollbar {
        width: 5px;
    }

    body::-webkit-scrollbar-track, main::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
        background: #E1E4E7;
    }

    body::-webkit-scrollbar-thumb, main::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
        background-color: #91B6D7;
        border-radius: 20px;
    }
}

/* Fin de estilos de texto */

[x-cloak] {
    display: none !important;
}