/*La fuente que se usa en este proyecto (Proxima Nova) es de adobe fonts y se necesita licencia para bajarla*/
/* @import url('https://fonts.googleapis.com/css2?family=Open+nova:wght@400;700&display=swap'); */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Proxima-Nova";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ProximaNova-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Proxima-Nova";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/ProximaNova-Bold.otf) format("opentype");
}

@layer base {
    :root {
        --color-azul: 0 127 255;
        --color-gris-calido: 248 246 240;
        --color-gris-patrocinio: 22 22 21;        
        --color-rojo: 175 11 11;
        --color-ocre: 195 148 0;
        --color-ocre-claro: 250 228 159;
        
        --color-blanco: 255 255 255;
        --color-gris-claro: 250 250 250;
        --color-gris-oscuro: 225 228 231;
        --color-azul-claro: 145 182 215;
        --color-azul-oscuro: 36 110 176;
        --color-magenta-oscuro: 178 36 112 ;
        --color-verde-oscuro: 32 142 29;
        --color-negro: 22 22 21;
    }
}

/*
Estilos de texto
*/
@layer base {
    html {
        @apply text-negro font-sans;
    }
    body {
        @apply text-negro font-sans bg-gris-claro;

        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    .h1 {
        @apply text-4xl font-bold leading-tight;
        /* @media screen(sm) {
            @apply text-2xl leading-tight;
        }
        @media screen(md) {
            @apply text-2xl leading-tight;
        }
        @media screen(lg) {
            @apply text-3xl leading-tight;
        }
        @media screen(xl) {
            @apply text-3xl leading-tight;
        }
        @media screen(2xl) {
            @apply text-3xl leading-tight;
        }
        @media screen(3xl) {
            @apply text-3xl leading-tight;
        } */
    }
    .h2 {
        @apply font-sans text-2xl font-bold leading-tight;
        /* @media screen(sm) {
            @apply text-xl leading-tight;
        }
        @media screen(md) {
            @apply text-xl leading-tight;
        }
        @media screen(lg) {
            @apply text-2xl leading-tight;
        }
        @media screen(xl) {
            @apply text-2xl leading-tight;
        }
        @media screen(2xl) {
            @apply text-2xl leading-tight;
        }
        @media screen(3xl) {
            @apply text-3xl leading-tight;
        } */
    }
    .h3 {
        @apply font-sans text-lg font-normal leading-tight;
        /* @media screen(sm) {
            @apply text-lg leading-tight;
        }
        @media screen(md) {
            @apply text-xl leading-tight;
        }
        @media screen(lg) {
            @apply text-xl leading-tight;
        }
        @media screen(xl) {
            @apply text-xl;
        }
        @media screen(xl) {
            @apply text-xl;
        }
        @media screen(2xl) {
            @apply text-2xl leading-tight;
        } */
    }

    .boton {
        @apply text-azul-oscuro text-base rounded-lg py-2 px-10 bg-blanco border-2 border-azul-oscuro h-fit;
        &:hover {
            @apply bg-blanco/[0.6];
        }
    }

    .p{
        @apply text-base pl-3 py-1;
    }

    /*Clases Juego 1*/
    * {
        transition: all 0.5s;
    }
    

    .card {
        transform-style: preserve-3d;
    }

    .cara {
        backface-visibility: hidden;
    }   

    .drowCard {
        transform: rotateY(180deg);
    }

    @keyframes iniciar {

        20%,
        90% {
            transform: rotateY(180deg);
        }

        0%,
        100% {
            transform: rotateY(0deg);
        }
    }

}

/* Fin de estilos de texto */

[x-cloak] {
    display: none !important;
}
